on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - run: sudo apt-get -y install pandoc texlive-xetex texlive-fonts-recommended texlive-latex-recommended
    - uses: actions/checkout@v2
    - run: pip3 install -r requirements.txt
    - run: make
    - uses: actions/upload-artifact@v2
      with: {name: build, path: build}
    - uses: actions/upload-artifact@v2
      with: {name: Output, path: Algorithm/Output}
    - uses: marvinpinto/action-automatic-releases@latest
      if: github.ref == 'refs/heads/main'
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: latest
        files: |
          LICENSE
          assignment1.py
          build/*
          Algorithm/Output/*
